

/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700");
/* html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.6875rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

p, a, li, blockquote, label {
  font-size: 1rem;
  line-height: 26px;
  color: #848484;
  margin-bottom: 0;
} */

.form-control::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 0.9375rem;
}

ul.social-links {
  margin-bottom: 0;
}
ul.social-links li:first-child a {
  padding-left: 0;
}
ul.social-links li a {
  padding: 0 15px;
  display: block;
}
ul.social-links li a i {
  font-size: 20px;
  color: #222222;
}

.shadow, .testimonial .testimonial-item .comment:hover, .news-hr .news-post-hr:hover, ul.pagination .active a, ul.pagination li a:hover, ul.pagination li a:focus, .sponsors .block .image-block:hover, .schedule.two .schedule-contents, .speakers.white .speaker-item:hover {
  box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.overlay:before {
  content: "";
  background: url(../images/background/objects.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay:after {
  content: "";
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-lighter:before {
  content: "";
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-overlay:after {
  content: "CONFERENCE";
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 215px;
  width: 100%;
  height: 300px;
  background-position: center center;
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0.05;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .text-overlay:after {
    font-size: 100px;
  }
}
@media (max-width: 575px) {
  .text-overlay:after {
    font-size: 70px;
  }
}

.overlay-primary:before {
  content: "";
  background: rgba(255, 102, 0, 0.93);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-dark:before {
  content: "";
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-white:before {
  content: "";
  background: linear-gradient(0deg, rgba(245, 245, 248, 0.8) 0%, rgb(247, 247, 247) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* VIDEO BACKGROUND HERO section */
.hero-section {
  position: relative;
  height: 100vh;
  color: white;
}

.video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text span,
.hero-text h1 {
  display: block;
  margin-bottom: 20px;
}

.hero-text h1 {
  font-size: 3.5rem !important; /* Adjust the size as needed */
  line-height: 1.2 !important;
}

.primary-btn {
  padding: 12px 30px;
  background-color: #ffa500; /* Orange color for the button */
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.primary-btn:hover {
  background-color: #cc8400; /* Darker shade for hover effect */
}

/* Add media queries for responsiveness if necessary */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.5rem; /* Smaller text for mobile */
  }
}




















.overlay-white-slant:before {
  content: "";
  width: 100%;
  margin-left: -45%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewX(-20deg);
}
@media (max-width: 767px) {
  .overlay-white-slant:before {
    content: none;
  }
}

span.alternate {
  color: #ff6600;
  font-weight: 600;
}

a {
  transition: 0.2s ease;
}

a:focus, a:hover {
  color: #ff6600;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.bg-gray {
  background: #fafafa;
}

.bg-blue {
  background: #ff6600;
}

.bg-banner-one {
  /* background: #000; */
  /* background: url(../images/background/homepage-one-banner.jpg) no-repeat; */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url(../images/background/homepage-one-banner.jpg);
  
  background-size: cover;
  background-position: center center;
}

.bg-banner-two {
  background: url(../images/background/banner-bg-two.jpg) no-repeat;
  background-size: cover;
  background-position: right center;
}
@media (max-width: 767px) {
  .bg-banner-two {
    background-position: center center;
  }
}

.bg-about {
  background: url(../images/background/pattern-background.jpg) no-repeat;
  background-size: cover;
}

.bg-speaker {
  background: url(../images/background/spaeker-background.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-timer {
  background: url(../images/background/timer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-schedule {
  background: url(../images/background/schedule-bg.png) no-repeat;
  background-size: cover;
}

.bg-service {
  background: url(../images/background/feature-background.jpg) no-repeat;
  background-size: cover;
}

.bg-registration {
  background: url(../images/background/registration-background.jpg) no-repeat;
  background-size: cover;
}

.bg-registration-two {
  background: url(../images/background/bg-registration-two.jpg) no-repeat;
  background-size: cover;
}

.bg-ticket {
  background: url(../images/background/cta-ticket-bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-sponsors {
  background: url(../images/background/sponsors-bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-subscribe {
  background: url(../images/background/newsletter-bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-title {
  background: url(../images/background/page-title-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.section {
  padding: 90px 0;
}

.border-less {
  border-bottom: 1px solid #e5e5e5;
}

.section-title {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 40px;
}
.section-title h3 {
  margin-bottom: 20px;
}
.section-title.white h3, .section-title.white p {
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.page-title {
  text-align: center;
}

.video {
  position: relative;
}
.video:before {
  border-radius: 3px;
}
.video img {
  width: 100%;
  border-radius: 8px;
}
.video .video-button {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.video .video-box a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .video-box a i {
  height: 125px;
  width: 125px;
  font-size: 40px;
  background: #ff6600;
  border-radius: 100%;
  color: #fff;
  line-height: 125px;
  text-align: center;
}
.video .video-box a iframe {
  width: 100%;
  height: 100%;
}

.form-control {
  background: transparent;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  font-size: 0.9375rem;
  padding: 15px 20px;
  height: 48px;
  margin-bottom: 20px;
  color: #b3b3b3;
}
.form-control:focus {
  border: 1px solid #ff6600;
  box-shadow: none;
}
.form-control.white {
  background: #fff;
  color: #222222;
}

select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

.left {
  overflow: hidden;
}
.left img {
  margin-left: -40px;
}
@media (max-width: 767px) {
  .left img {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.right {
  overflow: hidden;
}
.right img {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .right img {
    margin-left: 0;
  }
}

.hide-overflow {
  overflow: hidden;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  /* ideally, transition speed should match zoom duration */
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.border-top {
  border-top: 1px solid;
}

.slick-slide:focus {
  outline: 0;
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

.btn-main {
  padding: 25px 45px;
  border-radius: 3px;
  background: #ff6600;
  color: #fff;
  outline: none;
}
.btn-main:hover {
  color: #fff;
}
.btn-main:focus {
  color: #fff;
  box-shadow: none;
}

.btn-main-md {
  padding: 15px 40px;
  border-radius: 0;
  background: #ff6600;
  color: #fff;
  outline: none;
  font-size: 0.9375rem;
}
.btn-main-md:hover {
  color: #fff;
  background: #e65c00;
}
.btn-main-md:focus {
  color: #fff;
  box-shadow: none;
}

.btn-transparent-md {
  padding: 15px 40px;
  background: transparent;
  outline: none;
  font-size: 0.9375rem;
  color: #222222;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.btn-transparent-md:hover {
  background: #ff6600;
  border-color: #ff6600;
  color: #fff;
}

.btn-main-sm {
  padding: 15px 35px;
  border-radius: 3px;
  background: #ff6600;
  color: #fff;
  outline: none;
  font-size: 14px;
}
.btn-main-sm:hover {
  color: #fff;
}
.btn-main-sm:focus {
  color: #fff;
  box-shadow: none;
}

.btn-white-md {
  background: #fff;
  color: #222222;
  padding: 15px 40px;
  border-radius: 0;
}
.btn-white-md:hover {
  background: #ff6600;
  color: #fff;
}

.btn-rounded-icon {
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 50px;
}

.main-nav {
  background: #fff;
}
@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
}
.main-nav .navbar-brand {
  padding: 35px 40px 35px 50px;
  border-right: 1px solid #e5e5e5;
}
@media (max-width: 1200px) {
  .main-nav .navbar-brand {
    padding: 20px 30px;
  }
}
@media (max-width: 767px) {
  .main-nav .navbar-brand {
    border-right: none;
  }
}
.main-nav .navbar-toggler {
  font-size: 1.5rem;
  margin-right: 15px;
}
.main-nav .navbar-nav .nav-item {
  position: relative;
  font-family: "Roboto", sans-serif;
}
.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  text-align: center;
  color: #222222;
  padding-left: 5px;
  padding-right: 17px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.06rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1352px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    font-size: 0.86rem;
    padding-right: 10px;
  }
}
@media (max-width: 1200px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    padding-left: 4px;
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.main-nav .navbar-nav .nav-item .nav-link span {
  color: #222222;
  margin-left: 16px;
}
@media (max-width: 1200px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 14px;
  }
}
@media (max-width: 1024px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 10px;
  }
}
@media (max-width: 991px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    display: none;
  }
}
.main-nav .navbar-nav .nav-item:hover .nav-link, .main-nav .navbar-nav .nav-item.active .nav-link {
  color: #ff6600;
}
.main-nav .dropdown {
  position: relative;
}
.main-nav .dropdown .open > a,
.main-nav .dropdown .open > a:focus,
.main-nav .dropdown .open > a:hover {
  background: transparent;
}
.main-nav .dropdown.full-width .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
}
.main-nav .dropdown .dropdown-menu {
  min-width: 220px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.main-nav .dropdown .dropdown-menu li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 991px) {
  .main-nav .dropdown .dropdown-menu li:not(:last-child) .dropdown-item {
    border: 0;
  }
}
.main-nav .dropdown .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 10px 16px;
  transition: 0.3s ease;
}
.main-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #ff6600;
}
@media (max-width: 991px) {
  .main-nav .dropdown .dropdown-menu {
    transform: none;
    left: auto;
    position: relative;
    text-align: center;
    opacity: 1;
    visibility: visible;
    background: rgb(243, 243, 243);
  }
}
@media (min-width: 992px) {
  .main-nav .dropdown .dropdown-menu {
    transition: 0.3s all;
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
  }
  .main-nav .dropdown:hover > .dropdown-menu {
    border-top: 3px solid #ff6600;
    opacity: 1;
    display: block;
    visibility: visible;
    color: #777;
    transform: translateY(0);
  }
  .main-nav .dropdown .dropleft .dropdown-menu {
    right: 100%;
  }
}
.main-nav .dropleft .dropdown-menu,
.main-nav .dropright .dropdown-menu {
  margin: 0;
}
.main-nav .dropleft .dropdown-menu {
  right: 0;
}
.main-nav .dropleft .dropdown-toggle::before,
.main-nav .dropright .dropdown-toggle::after {
  font-weight: bold;
  font-family: "FontAwesome";
  border: 0;
  font-size: 14px;
  vertical-align: 1px;
}
.main-nav .dropleft .dropdown-toggle::before {
  content: "\f104";
  margin-right: 7px;
}
.main-nav .dropright .dropdown-toggle::after {
  content: "\f105";
  margin-left: 7px;
}
.main-nav .dropdown-submenu:hover > .dropdown-toggle,
.main-nav .dropdown-submenu.active > .dropdown-toggle {
  color: #ff6600;
}
.main-nav .ticket {
  background: #ff6600;
  display: block;
  padding: 34px 32px;
}
@media (max-width: 1352px) {
  .main-nav .ticket {
    padding: 34px 26px;
  }
}
@media (max-width: 1200px) {
  .main-nav .ticket {
    padding: 23px 26px;
  }
}
@media (max-width: 991px) {
  .main-nav .ticket {
    text-align: center;
  }
}
.main-nav .ticket img {
  margin-right: 25px;
}
@media (max-width: 1200px) {
  .main-nav .ticket img {
    display: none;
  }
}
.main-nav .ticket span {
  color: #fff;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid #ffa366;
  padding-left: 24px;
}
@media (max-width: 1200px) {
  .main-nav .ticket span {
    padding-left: 0;
    font-size: 1rem;
    border-left: none;
  }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
}

.page-title {
  position: relative;
  padding: 165px 0 65px;
}
@media (max-width: 1200px) {
  .page-title {
    padding: 140px 0 65px;
  }
}
@media (max-width: 767px) {
  .page-title {
    padding: 65px 0;
  }
}
.page-title h3, .page-title li, .page-title a {
  color: #fff;
}
.page-title .title h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.page-title .breadcrumb {
  background: transparent;
}
.page-title .breadcrumb .breadcrumb-item {
  float: none;
  display: inline-block;
  text-transform: uppercase;
}
.page-title .breadcrumb .breadcrumb-item.active {
  color: #fff;
}
.page-title .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: FontAwesome;
  color: #fff;
}

.footer-main {
  background: #272735;
  padding: 90px 0;
}
@media (max-width: 767px) {
  .footer-main {
    padding: 50px 0;
  }
}
.footer-main .block img {
  margin-bottom: 60px;
}
.footer-main .block ul.social-links-footer {
  margin-bottom: 0;
}
.footer-main .block ul.social-links-footer .list-inline-item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 575px) {
  .footer-main .block ul.social-links-footer .list-inline-item:not(:last-child) {
    margin-right: 5px;
  }
}
.footer-main .block ul.social-links-footer li a {
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  background: #fff;
}
.footer-main .block ul.social-links-footer li a i {
  line-height: 50px;
}
.footer-main .block ul.social-links-footer li a:hover {
  background: #ff6600;
}
.footer-main .block ul.social-links-footer li a:hover i {
  color: #fff;
}

.subfooter {
  background: #2a2a37;
  padding: 18px 0;
}
.subfooter .copyright-text p {
  font-family: "Montserrat", sans-serif;
}
.subfooter .copyright-text p a {
  color: #ff6600;
}
@media (max-width: 767px) {
  .subfooter .copyright-text {
    text-align: center;
  }
}
.subfooter .to-top {
  display: block;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #ff6600;
  float: right;
}
.subfooter .to-top i {
  font-size: 1.5rem;
  color: #fff;
  line-height: 45px;
}
@media (max-width: 767px) {
  .subfooter .to-top {
    float: none;
    margin: auto;
    margin-top: 30px;
  }
}

.cta-ticket {
  position: relative;
}
.cta-ticket .content-block {
  padding: 100px 0;
}
.cta-ticket .content-block h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
.cta-ticket .content-block p {
  color: #e6e6e6;
  margin-bottom: 45px;
}
.cta-ticket .image-block {
  position: absolute;
  right: 5%;
  bottom: 0;
}
@media (max-width: 767px) {
  .cta-ticket .image-block {
    display: none;
  }
}

.cta-subscribe {
  position: relative;
}
.cta-subscribe .content {
  padding: 70px 0;
}
.cta-subscribe .content h3, .cta-subscribe .content p {
  color: #fff;
}
.cta-subscribe .content h3 {
  font-weight: 500;
}
.cta-subscribe .content p {
  font-size: 0.9375rem;
}
.cta-subscribe .subscribe-button button {
  cursor: pointer;
}
@media (max-width: 767px) {
  .cta-subscribe .subscribe-button {
    margin-bottom: 30px;
  }
}

.banner {
  padding: 110px 0 100px;
  position: relative;
}
@media (max-width: 1024px) {
  .banner {
    padding: 100px 0;
  }
}
.banner .mycontainer{
  margin: 0 50px;
}
.mycontainer .upper{
  background: #000;
  padding: 30px 10px;
}
.clock {
  &-day {
    &:before {
      content: var(--timer-day);
    }
  }
  &-hours {
    &:before {
      content: var(--timer-hours);
    }
  }
  &-minutes {
    &:before {
      content: var(--timer-minutes);
    }
  }
  &-seconds {
    &:before {
      content: var(--timer-seconds);
    }
  }
}


.clock {
  &-container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #080808;
    border-radius: 5px;
    padding: 60px 20px;
    box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
    display: flex;
  }
  &-col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 90px;
    position: relative;
    &:not(:last-child):before,
    &:not(:last-child):after{
      content: "";
      background-color: rgba(255,255,255,.3);
      height: 5px;
      width: 5px;
      border-radius: 50%;
      display: block;
      position: absolute;
      right: -42px;
    }
    &:not(:last-child):before {
      top: 35%;
    }
    &:not(:last-child):after {
      top: 50%;
    }
  }
  &-timer {
    &:before {
      color: #fff;
      font-size: 4.2rem;
      text-transform: uppercase;
    }
  }
  &-label {
    color: rgba(255,255,255,.35);
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 10px;
  }
}

@media (max-width: 825px) {
  .clock-container {
  flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .clock-col {
    & + & {
      margin-top: 20px;
    }
    &:before,
    &:after {
      display: none!important;
    }
  }
}
.banner .block {
  position: relative;
  z-index: 10;
}
.banner .block .timer .syotimer-cell {
  margin-right: 25px;
  margin-bottom: 33px;
  display: inline-block;
}
@media (max-width: 575px) {
  .banner .block .timer .syotimer-cell {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
.banner .block .timer .syotimer-cell .syotimer-cell__value {
  min-width: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 77px;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #fff;
  border: 2px solid #7c7491;
  margin-bottom: 8px;
  border-radius: 100%;
  box-shadow: 3.5px 6.062px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 575px) {
  .banner .block .timer .syotimer-cell .syotimer-cell__value {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .banner .block .timer .syotimer-cell .syotimer-cell__value {
    min-width: 65px;
    line-height: 61px;
    font-size: 25px;
  }
}
.banner .block .timer .syotimer-cell .syotimer-cell__unit {
  text-align: center;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.bg-banner-one h1 {
  text-transform: uppercase;
  font-size: 5.3rem;
  color: #ff6600;
  font-weight: 500;
  text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* border: 4px solid rgb(102, 64, 8); */
  text-shadow: 5px 3px 5px #000000;
}
@media (max-width: 767px) {
  .banner{
    justify-content: center;
    align-items: center;
  }
  .banner  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  /* .bg-banner-one  h1 {
    font-size: 3rem;
  } */
}
/*  added style */
@media (max-width: 767px) {
  .block h1 {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .block h1 {
    font-size: 1rem;
  }
}
/* end of  added */
.banner .block h2 {
  text-transform: uppercase;
  font-size: 4.625rem;
  color: #fff;
  font-weight: 400;
  text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
  font-style: italic;
}
@media (max-width: 767px) {
  .banner .block h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 400px) {
  .banner .block h2 {
    font-size: 1.3rem;
  }
}
.banner .block h6 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
}

.banner-two {
  padding: 250px 0 150px;
  position: relative;
  overflow: hidden;
}
.banner-two .block h1 {
  color: #ff6600;
  font-size: 68px;
}
@media (max-width: 575px) {
  .banner-two .block h1 {
    font-size: 30px;
  }
}
.banner-two .block h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 74px;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .banner-two .block h2 {
    font-size: 35px;
  }
}
.banner-two .block h3 {
  font-size: 74px;
}
@media (max-width: 575px) {
  .banner-two .block h3 {
    font-size: 35px;
  }
}
.banner-two .block h6 {
  margin-top: 48px;
  font-weight: 400;
  margin-bottom: 60px;
}
@media (max-width: 575px) {
  .banner-two .block h6 {
    margin-top: 30px;
  }
}

.about .image-block {
  padding: 30px;
}
.about .image-block img {
  border-radius: 100%;
  box-shadow: 0px 0px 59px 0px rgba(11, 29, 66, 0.15);
}
@media (max-width: 767px) {
  .about .image-block {
    margin-bottom: 30px;
    text-align: center;
  }
}
.about .image-block.two {
  padding: 0;
  margin-top: 30px;
}
.about .image-block.two img {
  border-radius: 0;
  transform: translate(30px, -30px);
}
.content-block{
  /* border: 1px solid red; */
  
}
@media (max-width: 767px) {
  .about .image-block.two img {
    transform: translate(0, -30px);
  }
}
@media (max-width: 767px) {
  .about .content-block {
    text-align: center;
  }
}
.about .content-block h2 {
  margin-bottom: 35px;
}
.about .content-block h2:after {
  content: "";
  width: 60px;
  height: 3px;
  background: #ff6600;
  display: block;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .about .content-block h2:after {
    margin: auto;
  }
}
.about .content-block .description-one {
  margin-bottom: 20px;
}
.about .content-block .description-one p {
  color: #222222;
  font-size: 1.0625rem;
}
.about .content-block .description-two {
  margin-bottom: 30px;
}
.about .content-block .description-two p {
  font-size: 0.9375em;
}
@media (max-width: 575px) {
  .about .content-block ul.list-inline .list-inline-item {
    display: block;
  }
}
.about .content-block .list-inline-item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 991px) {
  .about .content-block .list-inline-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .about .content-block .list-inline-item:not(:last-child) {
    margin-right: 0;
  }
}

